<div class="main-container">
  <div class="header">
    <button class="btn add-friend" (click)="toggleUserList()">+</button>
    <button class="btn search-friend" (click)="toggleFriendRequests()">🔔</button>
  </div>

  <!-- Affichage de la liste des utilisateurs avec une barre de recherche -->
  <div *ngIf="showUsers" class="user-list-container">
    <!-- Barre de recherche -->
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Rechercher un joueur..."
        (input)="filterUsers()"
      />
      <button class="btn search-icon">🔍</button>
    </div>

    <!-- Liste des utilisateurs -->
    <div class="user-list">
      <div *ngFor="let user of filteredUsers" class="user-card">
        <span>{{ user.username }}</span>
      </div>
    </div>
  </div>

  <!-- Affichage des demandes d'amis reçues -->
  <div *ngIf=" frienRequest.length > 0" class="friend-requests">
    <h2>Demandes d'amitié</h2>
    <ul>
      <li *ngFor="let request of frienRequest">
        Demande de {{ GetNameUserById(request.user_id) }} pour devenir ami avec {{ GetNameUserById(request.friend_id) }}
        <div class="action-buttons">
          <button class="btn accept-friend" (click)="acceptFridRequest(request.friend_id)">Accepter</button>
          <button class="btn reject-friend">Refuser</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Si aucune demande d'amis n'est trouvée -->
  <div *ngIf=" frienRequest.length === 0" class="no-requests">
    <p>Aucune demande d'amitié pour le moment.</p>
  </div>
</div>
