.navbar {
    position: fixed; /* Position fixée */
    top: 0; /* Position en haut de la page */
    left: 0;
    width: 100%; /* Largeur de 100% */
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000; /* Assure que la barre de navigation soit au-dessus du contenu */
  }
  
  .navbar-logo img {
    width: 50px; /* Taille de votre logo */
  }
  
  .navbar-menu {
    ul.menu-items {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
  
      li {
        margin: 0 5px;
  
        a {
          color: #fff;
          text-decoration: none;
          padding: 5px 10px;
          transition: color 0.3s;
  
          &:hover {
            color: #ffcc00;
          }
        }
  
        .separator {
          color: #999;
          margin: 0 5px;
        }
  
        &.active a {
          font-weight: bold;
        }
      }
    }
  }
  
  .content {
    margin-top: 60px; /* Ajustez la marge supérieure pour éviter que le contenu ne soit caché sous la barre de navigation */
  }
  

  body {
    overflow: hidden; /* Masque la barre de défilement */
  }
  
  .content {
    margin-top: 60px; /* Ajustez si nécessaire pour éviter le chevauchement avec la barre de navigation */
    overflow-y: auto; /* Permet le défilement vertical du contenu */
    height: calc(100vh - 60px); /* Calcule la hauteur maximale pour le défilement du contenu */
  }
  