$navbar-height: 60px; // Hauteur de la barre de navigation

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: #333; // Couleur de fond de la barre de navigation
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; // Assure que la barre de navigation est au-dessus du contenu

  .navbar-logo {
    .logo {
      height: $navbar-height;
      width: auto;
    }
  }

  .navbar-menu {
    .menu-items {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: #f8d030; // Couleur de survol
          }
        }
      }
    }

    .auth-section {
      display: none; // Caché par défaut

      li {
        margin: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: #f8d030; // Couleur de survol
          }
        }
      }
    }
  }

  // Media query pour la section d'authentification
  @media (max-width: 768px) {
    .auth-section {
      display: flex; // Affichage en ligne sur les appareils mobiles
    }
  }
}

.content {
  margin-top: $navbar-height; // Pour éviter que le contenu ne soit caché sous la barre de navigation
  padding: 20px; // Espacement du contenu principal
}
