// Bootstrap variables and mixins
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Bootstrap components
@import '../node_modules/bootstrap/scss/bootstrap';

// Optionnel : Importez les composants individuellement selon vos besoins
// @import '../node_modules/bootstrap/scss/_alert';
// @import '../node_modules/bootstrap/scss/_button';
// @import '../node_modules/bootstrap/scss/_modal';
// ...

// Vos styles personnalisés viennent après l'importation de Bootstrap
.form-group {
    margin-bottom: 1.5rem;
  }
  
  .card {
    margin-top: 2rem;
  }
  
  .btn-primary {
    background-color: #f44336; // Exemple de personnalisation de couleur pour les boutons primaires
    border-color: #f44336;
  }
  
  .btn-primary:hover {
    background-color: #d32f2f; // Couleur au survol
    border-color: #d32f2f;
  }

  body {
  overflow: hidden; /* Masque la barre de défilement */
}

.content {
  margin-top: 60px; /* Ajustez si nécessaire pour éviter le chevauchement avec la barre de navigation */
  overflow-y: auto; /* Permet le défilement vertical du contenu */
  height: calc(100vh - 60px); /* Calcule la hauteur maximale pour le défilement du contenu */
}

.navbar {
  position: fixed; /* Position fixée */
  top: 0; /* Position en haut de la page */
  left: 0;
  width: 100%; /* Largeur de 100% */
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 1000; /* Assure que la barre de navigation soit au-dessus du contenu */
}

.navbar-logo img {
  width: 50px; /* Taille de votre logo */
}

.navbar-menu {
  ul.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      margin: 0 5px;

      a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        transition: color 0.3s;

        &:hover {
          color: #ffcc00;
        }
      }

      .separator {
        color: #999;
        margin: 0 5px;
      }

      &.active a {
        font-weight: bold;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #1f1f1f;
}

body.dark-mode .navbar-menu ul.menu-items li a {
  color: #ffffff;
}

body.dark-mode .navbar-menu ul.menu-items li a:hover {
  color: #ffcc00;
}

body.dark-mode .content {
  background-color: #121212;
  color: #ffffff;
}

