// Exemple de thème Pokémon (à ajouter dans styles.scss)
.pokemon-theme {
  background-color: #f8e585; // Jaune Pikachu
  color: #333; // Couleur de texte sombre
}

.card-header {
  background-color: #ff4f4f; // Rouge Charmander
  color: #fff; // Texte blanc
}

.btn-primary {
  background-color: #4fc1e9; // Bleu Squirtle
  border-color: #4fc1e9;
  margin-right: 20px;
}

.btn-primary:hover {
  background-color: #3bafda; // Variation de couleur au survol
}
