<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Bienvenue sur PokéChanceux !
        </div>
        <div class="card-body">
          <h5 class="card-title">Bienvenue, {{ username }}</h5>
          <p class="card-text">
            Vous êtes actuellement {{ isLoggedIn ? 'connecté' : 'déconnecté' }}.
          </p>
          <hr>
          <div class="text-center">
            <button routerLink="/login" *ngIf="!isLoggedIn" class="btn btn-primary mr-3" (click)="navigateToLogin()">Se connecter</button>
            <button routerLink="/register" *ngIf="!isLoggedIn" class="btn btn-secondary" (click)="navigateToRegister()">S'inscrire</button>
            <button *ngIf="isLoggedIn" class="btn btn-danger" (click)="logout()">Se déconnecter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <a [routerLink]="['/chanceux']" class="image-container">
        <img src="images/chanceux.png" class="img-fluid" alt="Chanceux">
      </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/shiny']" class="image-container">
        <img src="images/shiny.png" class="img-fluid" alt="Shiny">
      </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/obscure']" class="image-container">
        <img src="images/obscure.png" class="img-fluid" alt="Obscure">
      </a>
    </div>
  </div>
</div>
